.content {
	display: flex;
    align-items: center;
    justify-content: center;
	gap: 5px;

	.card{
		width: 250px;
    	// min-height: 200px;
		height: 465px;
		display: flex;
    	gap: 20px;
		flex-direction: column;
		align-items: center;
		background-color: #e7e7c3;

		&__img {
			width: 225px;
			height: 225px;
		}

		&__review{
			overflow-y: scroll;
			word-break: break-all;
			
			.review__error{
				color: red;
			}
		}
	}

}